<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Property Details Form</title>
<!-- Bootstrap CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
<th:block th:insert="Header.html"></th:block>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">

				<h2>Room Details Form</h2>
				<form enctype="multipart/form-data" method="post"
					action="/update/room" th:object="${roomModel}">
					<div class="form-group">
						<label for="type">Type Of Room</label> <input type="text"
							th:field="*{type}" class="form-control" id="type" name="type"
							placeholder="Enter property type">
					</div>


					<div class="form-group">
						<label for="image">Image OF Room</label> <input type="file" value="${roomModel.image}"
							 class="form-control-file" id="image"
							name="image_room_update">
					</div>







					<div class="form-group">
						<label for="price">Price Per Night</label> <input type="number"
							th:field="*{price}" class="form-control" id="price" name="price"
							placeholder="Enter price">
					</div>
					<div class="form-group">
						<label for="size">Size Of Room</label> <input type="number"
							step="0.01" class="form-control" id="size" name="size"
							th:field="*{size}" placeholder="Enter size">
					</div>
					<div class="form-group">
						<label for="capacity">Capacity</label> <input type="number"
							class="form-control" id="capacity" name="capacity"
							th:field="*{capacity}" placeholder="Enter capacity">
					</div>
					<div class="form-group">
						<label for="service">Service</label> <input type="text"
							class="form-control" id="service" name="service"
							th:field="*{service}" placeholder="Enter service details">
					</div>
					<div class="form-group">
						<label for="bed">Number of Beds</label> <input type="number"
							class="form-control" id="bed" name="bed" th:field="*{bed}"
							placeholder="Enter number of beds">
					</div>


					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<button type="submit" class="btn btn-primary">Update</button>




						</div>


					</div>
					<input type="hidden" th:field="*{id}">
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	
</body>
</html>
