
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Verification</title>
<!-- Bootstrap CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Custom styles -->
<style>
.form-container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
	font-weight: bold;
}

.text-danger {
	color: red;
}

.input-group {
	margin-bottom: 15px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="form-container">

					<h1 style="color: green">[[${code}]]</h1>
					<h1 style="color: red">[[${message}]]</h1>
					<form action="/registerVerification" method="post">

						<div class="form-group">
							<label for="vcode" class="form-label">Verification Code <span
								class="text-danger">*</span></label> <input type="text"
								class="form-control" id="vcode" name="vcode" required>
						</div>
						<button type="submit" class="btn btn-primary btn-lg btn-block">Verify</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
