<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/login/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/login/css/style.css">
</head>
<body>

	<div class="container">
	<div class="form-group">
	<p style="color :red">[[${message}]]</p>
	<p style="color :red">[[${forgetCode}]]</p>
	
	</div>
		<div class="signin-form p-4">

			<form method="POST" class="register-form" id="login-form"
				action="/change">


				<div class="form-group ">
					<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> <input
						type="number" name="vcode" id="your_pass"
						placeholder="Enter Verification code" />
				</div>


				<div class="form-group ">
					<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> <input
						type="password" name="password" id="your_pass"
						placeholder="Password" />
				</div>
				
				
				<div class="form-group ">
					<label for="cyour_pass"><i class="zmdi zmdi-lock"></i></label> <input
						type="password" name="cpassword" id="cyour_pass"
						placeholder="Conform Password" />
				</div>
				
				
				<div class="form-group form-button ">
					<input type="submit" name="signin" id="signin" class="form-submit"
						value="Change Password" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>