<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/cregisterVerification" method="post">
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                  <div class="input-group">
                  <h1 style="color:green">[[${code}]]</h1>
                  <h1 style="color:red">[[${message}]]</h1>
                  
                   
                    <input type="number" class="form-control" name="cvcode" id="vcode" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Veryfi</button>
                  </div>
                </div>
              </div>
            </form>
</body>
</html>